{
  "extends": "./.config/.eslintrc",
  "rules": {
    // throw error when using global location object, use Grafana's LocationService instead!
    "no-restricted-globals": ["error", "location"],
    "no-cond-assign": ["error", "except-parens"]
  },
  "overrides": [
    {
      "files": ["src/**/*.test.{ts,tsx}"],
      // Allow location to be used in test files
      "rules": {
        "no-restricted-globals": 0
      }
    }
  ]
}
